doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title eli5
    link(href="/lib/foundation/css/normalize.min.css", rel="stylesheet")
    link(href="/lib/foundation/css/foundation.min.css", rel="stylesheet")
    link(href="/lib/font-awesome/css/font-awesome.min.css", rel="stylesheet")
    link(href="/lib/codemirror/lib/codemirror.css", rel="stylesheet")
    link(href="/css/app.css", rel="stylesheet")
    script(src="/lib/foundation/js/vendor/modernizr.js")
    
  body

    textarea#editor # Welcome
    
    #document
          
    script(src="/lib/foundation/js/vendor/jquery.js")
    script(src="/lib/foundation/js/vendor/jquery.cookie.js")
    script(src="/lib/foundation/js/vendor/placeholder.js")
    script(src="/lib/foundation/js/vendor/fastclick.js")
    script(src="/lib/foundation/js/foundation.min.js")
    script(src="/lib/markdown-it/dist/markdown-it.min.js")
    script(src="/lib/codemirror/lib/codemirror.js")
    script(src="/lib/codemirror/mode/markdown/markdown.js")
    script(src="/js/app.js")
